/* colors */
/* checkboxes */
/* sizes */
body {
  height: 100%;
  color: #3B3333;
  background-color: #fffcff;
  /* background-image: url("bg.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
  font-size: 0.9em;
  font-family: "Karla", "Arial", "Lucida Sans Unicode", sans-serif;
}
@media screen and (max-width: 600px) {
  body {
    background-color: #fffcff;
  }
}

.resize {
  height: 70%;
  width: 70%;
}
@media screen and (max-width: 600px) {
  .resize {
    width: 50%;
    height: 50%;
  }
}

a {
  color: #3B3333;
}
a:hover {
  color: #74AD84;
  text-decoration: none;
}
a:active {
  color: #AD8686;
  text-decoration: none;
}

.center {
  text-align: center;
}

input[type=text] {
  width: 200px;
  transition: ease-in-out, width 0.35s ease-in-out;
  background-color: transparent;
  color: #3B3333;
  border: 1px solid #3B3333;
}
input[type=text]:focus {
  width: 300px;
}

input[type=submit] {
  background-color: #e3ffeb;
  padding: 3px 5.5em;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #AD8686;
}

.nav-link {
  color: #AD8686;
}

.navbar, h3 {
  font-size: 1.5em;
  text-align: right;
  font-family: "Muli", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #05240d;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .navbar, h3 {
    font-size: 1em;
  }
}

.form-control-sm, .form-select-sm {
  border: none;
  background-color: #f7eded;
  width: 70%;
  text-align: center;
  color: #756363;
}

.range {
  width: auto;
}

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  color: #74AD84;
  width: 100%;
  /* Full-width */
  height: 7px;
  /* Specified height */
  background: #74AD84;
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
.slider:hover {
  color: #74AD84;
  opacity: 0.9;
  /* Fully shown on mouse-over */
  text-decoration: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  opacity: 1;
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  border-radius: 50%;
  background: #74AD84;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  border-radius: 50%;
  opacity: 1;
  background: #74AD84;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: "Muli", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #05240d;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  background-color: #AD8686;
  border: none;
  width: 15%;
}
.btn:hover, .btn:active, .btn:visited {
  background-color: #756363;
  border: none;
}

.checkbox label:after {
  content: "";
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label input[type=checkbox] {
  display: none;
}

/* sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
