<!DOCTYPE html>
{% load static %}

<!DOCTYPE html>
<html>
    <head>   
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">     
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Karla|Lato:300|Muli:200|Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="static/css/styles.css" rel="stylesheet">

    </head>
<body>

  <nav class="navbar navbar-expand-lg bg-transparent">
      <a class="navbar-brand" href="/"><img class= "resize" src="static/images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    </nav>
  <div class="container">

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-8">
          <div class="center">
            <p>
          {% block header %}

          {% endblock %}
            </p>
          </div>
      </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      {% block info %}
    
      {% endblock %}
    </div>
    <div class="col-xl-8">
    {% block body %}
    
    {% endblock %}
    </div>
    <div class="col-sm-2">
      <h3 style="text-align: left">Amenities</h3>
      {% block amenities %}
      
      {% endblock %}
    </div>
  </div>

</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

  </body>
</html>