<!-- Layla Hoogeveen, Web App Studio -->

{% extends "layout_index.html" %}

{% block title %}
    AirBnBest
{% endblock %}

{% block header %}
Find the perfect Airbnb
  {% endblock %}

{% block body %}



<!-- Price -->

<div class="form-group">

    <form name="test" method="GET" action="{% url 'results' %}">
      {% csrf_token %}
      <table>
        <tr>
          <td style="padding: 10px" class="center">Price</th>
          <td class="center">Type of place</th>
          <td class="center">Accommodates</th>
          <td class="center">Near</th>
        </tr>
      
      <tr>  
      <td>
          <input type="range" value="60" min="1" max="800" style = "margin-top: 25px" oninput="this.nextElementSibling.value = this.value" class="slider" name="price">
          €<output>75</output>      
      </td>

      <td style="padding: 10px" class="center">
        <input class="form-control" type="text" name="room_type">
        
      </td>

    <td style="padding: 10px" class="center">
      <input class="form-control" type="text" name="accommodates">
    </td>
    <td style="padding: 10px" class="center">
      <input class="form-control" type="text" name="near">
    </td>

    </tr>
    <tr>
      <td colspan="4" class="center"  style="padding: 10px"><button class="btn btn-primary btn-lg" type="submit" name="action" >Search</button></td>
    </tr>
    </table>
    </form> 

</div>





        


<!-- <div class="row" style="padding: 30px">
  <div class="col"></div>
    <button type="button" class="btn btn-primary btn-lg" type="submit" name="action">Search</button>
  <div class="col"></div>
</div> -->



<!-- </div> -->


{% endblock %}
