<!-- Layla Hoogeveen, Web App Studio -->

{% extends "layout_index.html" %}

{% block title %}
    AirBnBest
{% endblock %}

{% block header %}
Find the perfect Airbnb
  {% endblock %}

{% block body %}




<div class="form-group">

    <form name="test" method="GET" action="{% url 'results' %}">
      {% csrf_token %}
      <table width="100%">
        <tr>
          <td style="padding: 10px" class="center" width="25%">Price</th>
          <td class="center" width="25%">Type of place</th>
          <td class="center" width="25%">Accommodates</th>
          <td class="center" width="25%">Near</th>
        </tr>
      
      <tr>  
      <td class="center" style="padding: 10px" width="25%">
          <input type="range" value="75" min="1" max="800" style = "margin-top: 25px" oninput="this.nextElementSibling.value = this.value" class="slider" name="price">
          €<output>75</output>     
      </td>

      <td style="padding: 10px" class="center" width="25%">
        <div class="d-grid gap-2 d-md-block" role="group" aria-label="Basic checkbox toggle button group">
          <div class="checks_group">
          <input type="checkbox" class="btn-check" name="Entire home/apt" id="Entire home/apt" autocomplete="off" value="Entire home/apt">
          <label class="btn btn-outline-secondary btn-sm" for="Entire home/apt" >Entire home/apt</label>
        
          <input type="checkbox" class="btn-check" name="Hotel room" id="Hotel room" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="Hotel room">Hotel room</label>
        </div>
          <div class="checks_group">
          <input type="checkbox" class="btn-check" name="Private room" id="Private room" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="Private room">Private room</label>

          <input type="checkbox" class="btn-check" name="Shared room" id="Shared room" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="Shared room">Shared room</label>
        </div>
        </div>


        
      </td>

    <td style="padding: 10px" class="center" width="25%">
      <select class="form-select" aria-label=".form-select example" name="accommodates">
        <option selected value="1">Number of guests</option>
        {% for i in num_of_acc %}
        <option value="{{ i }}" style="text-align:left">{{ i }}</option>
        {% endfor %}
      </select>
    </td>
    <td style="padding: 10px" class="center" width="25%">
      <select class="form-select" aria-label=".form-select example" name="near" style="max-width: 200px">
        <option selected value="1">Facility</option>
        {% for each in facilities %}
        <option value="{{ i }}" style="text-align:left">{{ each }}</option>
        {% endfor %}
      </select>
    </td>

    </tr>
    <tr>
      <td colspan="5" class="center"  style="padding: 25px"><button class="btn btn-primary btn-lg" type="submit" name="action" >Search</button></td>
    </tr>
    </table>
    </form> 

</div>



{% endblock %}
